section{
    padding: 0 20px;
}

.container .container-body form .form-field div{
    display: grid;
    grid-template-columns: 80% 20%;
}

.container .container-body form .form-field div button{
    margin-left: 8px;
	padding: 0;
	background-color: rgba(26, 57, 104, 0.8);
	color: #fff;
}

.container .container-body form .form-field div button:hover{
    background-color: rgba(26, 57, 104, 0.9);
}