.search-form form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.search-form form .form-field{
	width: 595px;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	margin: 10px 30px;
}

.search-form form label{
	margin-bottom: 8px;
}

.search-form form input{
	border: 2px solid #000;
}

.search-form form .form-field.form-btn{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
}

#search .search-form form .form-field.form-btn input[type="submit"],
#search .search-form form .form-field.form-btn a{
	width: fit-content;
	margin: 5px;
    font-weight: bold;
    color: #fff;
}

#search .search-form form .form-field.form-btn input[type="submit"]{
	background-color: lightgreen;
	border: 0;
}

#search .search-form form .form-field.form-btn input[type="submit"]:hover{
	background-color: green;
}

#search .search-form form .form-field.form-btn a:nth-child(2){
	background-color: rgba(128, 128, 128, 0.5);
}

#search .search-form form .form-field.form-btn a:nth-child(2):hover{
	background-color: rgba(128, 128, 128, 0.8);
}

#search .search-form form .form-field.form-btn a:nth-child(3){
	background-color: gold;
}

#search .search-form form .form-field.form-btn a:nth-child(3):hover{
	background-color: orange;
}

#search .search-form form .form-field.form-btn a:nth-child(4){
	background-color: red;
}

#search .search-form form .form-field.form-btn a:nth-child(4):hover{
	background-color: crimson;
}