#delete-student,
#delete-teacher{
	padding: 0 20px;
}

.section-header h4,
.container-header h4{
	padding: 3px 0 3px 3px !important;
	background-color: red !important;
	color: #fff !important;
}

form .form-field div{
	display: grid;
	grid-template-columns: 80% 20%;
}

form .form-field div button{
	margin-left: 8px;
	padding: 0;
	background-color: rgba(26, 57, 104, 0.8);
	color: #fff;
}

form .form-field div button:hover{
	background-color: rgba(26, 57, 104, 0.9);
}

form .form-field.form-btn input[type="submit"]{
	background-color: red !important;
	color: #fff !important;
	border: 0 !important;
}

form .form-field.form-btn input[type="submit"]:hover{
	background-color: crimson !important;
}