#add-teacher,
#add-student,
#add-subject{
	padding: 0 20px;
}

.container .container-header h4{
	padding: 4px 0px 4px 4px;
	background-color: lightgreen;
}

.container .container-body form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container .container-body form .form-field{
	width: 595px;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	margin: 10px 30px;
}

.container .container-body form .form-field.address{
	flex-direction: row;
}

.container .container-body form .form-field.address input{
	height: 20px;
	width: 20px;
	padding: 10px;
	margin-right: 10px;
}

.container .container-body form label{
	margin-bottom: 8px;
}

.container .container-body form input,
.container .container-body form select{
	border: 2px solid #000;
}

.container .container-body form select option{
	font-size: 15px;
}

.container .container-body form .form-field.form-btn{
	padding-top: 30px;
}

.container .container-body form .form-field.form-btn input[type="submit"]{
	width: fit-content;
	border: 0;
	background-color: lightgreen;
    font-weight: bold;
    color: #fff;
}

.container .container-body form .form-field.form-btn input[type="submit"]:hover{
	background-color: green;
}