@font-face {
    font-family: Merriweather;
    src: url(../../vendor/fonts/Merriweather/Merriweather-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0px solid transparent;
    background-color: transparent;
    outline: none;
    transition: all .2s ease;
    font-family: Merriweather, sans-serif; 
}

section{
    padding: 20px;
}

input,
select,
button,
a,
textarea{
    padding: 8px 12px;
    border-radius: 4px;
}

button,
a{
    font-size: 12px;
}

input[type="submit"],
button{
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover,
a:hover{
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3) inset;
}

table{
    max-height: 400px;
    overflow: scroll;
}