@font-face {
    font-family: "Rubik Scribble";
    src: url(../../vendor/fonts/Rubik_Scribble/RubikScribble-Regular.ttf);
}

.main-name{
    padding: 3vh 1vw;
}

.main-name h1{
    font-family: 'Rubik Scribble', sans-serif;
    width: fit-content;
    margin: 0 auto;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    color: #000;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}