#update-details{
	padding: 0 20px;
}

#update-details .section-header h4{
	padding: 3px 0 3px 3px;
	background-color: gold;
	color: #fff;
}

.search-form form .form-field div{
	display: grid;
	grid-template-columns: 80% 20%;
}

.search-form form .form-field div button{
	margin-left: 8px;
	padding: 0;
	background-color: rgba(26, 57, 104, 0.8);
	color: #fff;
}

.search-form form .form-field div button:hover{
	background-color: rgba(26, 57, 104, 0.9);
}

.search-form form .form-field.form-btn input[type="submit"]{
	background-color: gold;
	border: 0;
	color: #fff;
}

.search-form form .form-field.form-btn input[type="submit"]:hover{
	background-color: orange;
}